#section1 {
    background-color: #bae9f8;
    padding: 20px;
    height: 32rem;
    margin-bottom: 1rem;
}

#section2 {
    background-color: #bae9f8;
    padding: 20px;
    height: 26rem;
}

.questionHeader {
    background-color: rgb(250, 133, 7);
    padding: 10px;
    display: flex;
}

.actionIcons {
    color: aliceblue;
    cursor: pointer;
    margin-left: -13rem;
}

.headerTitle {
    width: 55rem;
    gap: 1rem;
    display: flex;
    align-items: center;
}

.color-black {
    color: black;
}

.color-white {
    color: #fff;
}

.TextEditor {}

.mediaBtn {
    border-radius: 1rem;
    border: 2px solid #ff7824;
    height: 2rem;
    width: 4rem;
    margin-left: 35rem;
    cursor: pointer;
}

.subHeadear {
    display: flex;
    padding: 15px;
    align-items: center;
}

.inputText {
    color: #ff7824;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.InputBox {
    margin-right: 5px;
    cursor: pointer;
}

.saveButton {
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    color: #fff;
    background-color: #ff7824;
    margin-top: -3.6rem;
    float: right;
    z-index: 999;
    position: relative;
    right: 8px;
    border: none;
}

.answerHeader {
    background-color: rgb(170, 170, 170);
    padding: 10px;
    display: flex;
    align-items: center;
}

.addOptionBtn {
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    color: #fff;
    background-color: #ff7824;
    float: right;
    z-index: 999;
    border: none;
    font-size: 20px;
    margin-left: 3rem;
}

.actionSection {
    display: flex;
    margin-left: -30px;
}

.titleText{
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 2rem;
}

.NumberOption {
    color: #000000;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 18rem;
}

.optionValue {
    font-weight: 800;
    text-align: center;

}