#section1 {
    background-color: #bae9f8;
    padding: 20px;
    height: 32rem;
    margin-bottom: 1rem;
}

#section2 {
    background-color: #bae9f8;
    padding: 20px;
    height: 26rem;
}

.questionHeader {
    background-color: rgb(250, 133, 7);
    padding: 10px;
    display: flex;
}

.actionIcons {
    color: aliceblue;
    cursor: pointer;
    margin-left: 10 rem;
}

.headerTitle {
    width: 55rem;
    gap: 1rem;
    display: flex;
    align-items: center;
}

.color-black {
    color: black;
}

.color-white {
    color: #fff;
}


.mediaBtn {
    border-radius: 1rem;
    border: 2px solid #ff7824;
    height: 2rem;
    width: 4rem;
    margin-left: 45rem;
    cursor: pointer;
}

.subHeadear {
    display: flex;
    padding: 15px;
    align-items: center;
}

.inputText {
    color: #ff7824;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.InputBox {
    margin-right: 5px;
    cursor: pointer;
}

.saveButton {
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    color: #fff;
    background-color: #ff7824;
    margin-top: -3.6rem;
    float: right;
    z-index: 999;
    position: relative;
    right: 8px;
    border: none;
}

.answerHeader {
    background-color: rgb(170, 170, 170);
    padding: 10px;
    display: flex;
    align-items: center;
}

.addOptionBtn {
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    color: #fff;
    background-color: #ff7824;
    float: right;
    z-index: 999;
    border: none;
    font-size: 20px;
    margin-left: 3rem;
}

.actionSection {
    display: flex;
    margin-left: -30px;
}

.titleText {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 2rem;
}

.NumberOption {
    color: #000000;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 45rem;
}

.timeBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-family: sans-serif;
    margin-top: 6px;
    cursor: pointer;
}

.optionValue {
    font-weight: 800;
    text-align: center;

}

.answerBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* gap: 1rem; */
    width: 65%;
}

input[type="text"] {
    height: 30px;
    width: 100%;
}

.removeOptionBtn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ff7824;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 37rem;
    bottom: 1.9rem;
}

.textInput {
    border: 2px solid #f80404;
    width: 44rem;
    display: flex;
    height: 15rem;
    gap: 16px;
    align-items: flex-end;
    /* padding: 0px 0px 10px 10px; */
    justify-content: center;
    padding-bottom: 16px;

}

.textareaBox {
    background-color: rgb(46, 251, 0);
    border: 2px solid #f80404;
    height: 10rem;
    width: 20rem;

}

.ratioBtn {
    background-color: rgb(249, 94, 94);
    border: 2px solid #f80404;
    height: 10rem;
    width: 20rem;
}

.calender {
    background-color: rgb(125, 64, 247);
    border: 2px solid #f80404;
    height: 16rem;
    width: 22rem;
}

.time {
    background-color: rgb(61, 61, 61);
    border: 2px solid #f80404;
    height: 3rem;
    width: 10rem;

}

.container {
    width: 85rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.col {
    height: 10rem;
    width: 20rem;
}

.checkBox1 {
    position: absolute;
    top: 42rem;
    cursor: pointer;
}

.textChekbox {
    color: #000000;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 500;
    align-items: end;
    display: inline-flex;
    cursor: pointer;
}

input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
}

.align-centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-family: sans-serif;
    margin-top: 6px;
    cursor: pointer;
}